<<<<<<< HEAD
/* @override http://roofintel.loc/sites/all/themes/prolifik/css/prolifik-menu.css?ma1fgb */
=======
/* @override 
	http://agsalescde.com/sites/all/themes/prolifik/css/prolifik-menu.css?m7zc2y
	http://agsalescde.com/sites/all/themes/prolifik/css/prolifik-menu.css?m7zcjb
	http://roofintel.loc/sites/all/themes/prolifik/css/prolifik-menu.css?m9n20l
*/
>>>>>>> b98b364525320534ce0b1701907029373cb35ec6

/* Menu */

#region-menu .region-inner {
  margin: 0 -10px;
}
#region-menu nav > ul.menu > li {
  background: none;
  float: none;
  list-style: none;
  margin: 0 5px 0 0;
  padding: 0;
  position: relative;
  display: block;
text-align: center;
}
#region-menu nav > ul.menu > li.last {
  margin: 0;
}
#region-menu nav > ul.menu > li > a,
#region-menu nav > ul.menu > li > a:link,
#region-menu nav > ul.menu > li > a:visited {
  color: #fff;
}
#region-menu nav > ul.menu > li > a {
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0,0,0,.5);
}

#region-menu nav > ul.menu > li:hover > a,
#region-menu nav > ul.menu > li.hover > a {
  background: rgba(255,255,255,.2);
}

/* Drop Down Menus */
#region-menu nav > ul.menu > li ul,
#region-menu nav > ul.menu > li .view {
  display: none;
}
#region-menu nav > ul.menu > li:hover ul,
#region-menu nav > ul.menu > li:hover .view,
#region-menu nav > ul.menu > li.hover ul,
#region-menu nav > ul.menu > li.hover .view {
  display: block;
  position: absolute;
}

/* Secondary Menu */
#region-menu nav.navigation-secondary {
  float: right;
  position: relative;
  top: 7px;
}
#region-menu nav.navigation-secondary ul.menu > li > a {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0 10px;
<<<<<<< HEAD
}

#zone-menu {
		padding-top: 10px;
	padding-bottom: 10px;
	-moz-box-shadow: 0px 0px 10px #000000;
	-webkit-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
	position: relative;
	z-index: 999;
	visibility: visible;
	overflow: visible;
	background-color: #8a2428;
=======
>>>>>>> b98b364525320534ce0b1701907029373cb35ec6
}